__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/
*.egg-info/
dist/
build/
.DS_Store
Thumbs.db
*.log
.streamlit/secrets.toml
data/analyzed_reviews.csv
assets/*.png
notebooks/.ipynb_checkpoints/
models/*.pkl
models/*.pt
